.newsItemList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  background: rgba(0, 0, 100, .5);
  border-radius: 48px;
}

.hero {
  font-family: baskerville, serif;
  font-size: 50px;
  font-style: italic;
}

.newsItem {
  margin: 20px 0;
}

.headline {
  font-family: bookman serif;
  font-weight: 600;
}

.body {
  font-family: bookman serif;
  font-weight: 300;
}
